{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
<div id="logcnt">
    {% block content %}
    {% block cscontent %}
    <h1>{% trans "Account" %}</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link {% if tab == 'personal' %}active{% endif %}" href="{% url 'cssocialuser_edit_profile' %}">{% trans "Basic account" %}</a></li>
        <li class="nav-item"><a class="nav-link {% if tab == 'photo' %}active{% endif %}" href="{% url 'cssocialuser_edit_profile_photo' %}">{% trans "Photo" %}</a></li>
        <li class="nav-item"><a class="nav-link {% if tab == 'social' %}active{% endif %}" href="{% url 'cssocialuser_edit_profile_social' %}">{% trans "Social networks" %}</a></li>
        <li class="nav-item"><a class="nav-link {% if tab == 'pass' %}active{% endif %}" href="{% url 'cssocialuser_edit_profile_pass' %}">{% trans "Chage password" %}</a></li>
    </ul>

    {% block perfil %}

    {% endblock%}

    {% endblock %}
    {% endblock %}
</div>
{% endblock %}

{% block sidebar %}
    {% block cssidebar %}{% endblock %}
{% endblock %}
